/*  https://css-tricks.com/snippets/css/using-font-face/ */
/*  https://www.dafont.com */
@font-face {
	font-family: LoveStoryRough;
	src: url("../fonts/love-story-rough.ttf");
}
@font-face {
	font-family: LLCircularWeb-Book;
	src: url("../fonts/lineto-circular-book-s.eot"); /* IE9 Compat Modes */
	src: url("../fonts/lineto-circular-book-s.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		   url("../fonts/lineto-circular-book-s.woff") format("woff"), /* Pretty Modern Browsers (Web Open Font Format) */
		   url("../fonts/lineto-circular-book-s.ttf") format("truetype"), /* Safari, Android, iOS */
		   url("../fonts/lineto-circular-book-s.svg#LLCircularWeb-Book") format("svg"); /* Legacy iOS */
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: LLCircularWeb-Medium;
	src: url("../fonts/lineto-circular-medium-s.eot");
	src: url("../fonts/lineto-circular-medium-s.eot?#iefix") format("embedded-opentype"),
		   url("../fonts/lineto-circular-medium-s.woff") format("woff"),
		   url("../fonts/lineto-circular-medium-s.ttf") format("truetype"),
		   url("../fonts/lineto-circular-medium-s.svg#LLCircularWeb-Medium") format("svg");
	font-weight: 400;
	font-style: normal;
}
.circular-pro {
  font-family: LLCircularWeb-Medium,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif
}


@import url(//fonts.googleapis.com/css?family=Open+Sans);
.open-sans {
	font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
h1 {
	font-family: LoveStoryRough;
	font-size: 40px;
  background: deepskyblue;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
h2 {
	font-family: LLCircularWeb-Medium;
	font-size: 36px;
}
div {
  padding: 10px;
}
/* section {
	width: 45%;
	float: left;
  padding: 10px;
}
 */
 table {
	width:  100%;
}
.center {
  text-align: center;
}





.navigation {
  display: flex;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: LLCircularWeb-Medium;
}

.navigation a:hover {
  background: #00b7f5;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

